.form-container{
    width: 100%;   
}


.container{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
}
h5{
    color: white;
}
.Submit-button{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    color: white;
}

.inputcontainer{
width: 70%;
height: 25vh;
}
.Title{
    padding: 34px;
    font-size: large;
    color: black;
}

input.form-input{
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow:inset 1px 2px 5px  rgba(0,0,0,0.1),
    inset 1px 5px 5px  rgba(0,0,0,0.1),
    0px 1px 2px 1px rgba(0,0,0,0.1);
    height: 100%;
    width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0.1px;
    padding-left: 3px;
    padding:  8.5px;
    border-top-left-radius: 9px;
}


form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

button{
    margin-top: 84px;
    box-shadow:
    0px 1px 2px 1px rgba(0,0,0,0.1);
    padding: 16px;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 23vw;
 
}
.alert{
    background-color: green;
    padding: 6px;
    text-align: center;
    transition: 56s ease;
    margin-top: 34px;
    margin-top: 24px;
    border-radius: 4px;
}
#light-theme{
    background-color: white;
    color: #000000;
  }
  
  
  #dark-theme{
    background-color: #000000;
    color: #f8f8f8;
  }

@media only screen and (max-width:670px){
    .inputcontainer{
        width: 80%;
    }
    .form-container{
        margin-bottom: 156px;
    }
    button{
        padding: 23px;
        width: 45vw;
    }
  }





