@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.listcontainer{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}
#light-theme{
    background-color: white;
    color: #000000;
  }
  
  
  #dark-theme{
    background-color: #000000;
    color: #f8f8f8;
  }

.title{
    text-align: center;
    width: 100%;
}
h1{
    text-align: center;
}



ul{
    padding: 39px;
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
}





.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}


.completed{
    opacity:0.5 ;
    text-decoration: line-through;
}
   

li{
    list-style: none;
}


.select{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
select{
    width: 50%;
    outline: none;
    padding: 3px;
}
.content{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding: 13px;
    margin-bottom: 23px;
    border-radius: 5px;
}    
    input#checkbox{
        width: 40%;
    }
   
    @media only screen and (max-width:860px){
      .list{
          width: 100%;
        margin-left: 0px;
        justify-content: space-between;
        }

        li{
            width: 230px;
        }

       
        .content{
            width: 100%;
        }
    }
button{
    cursor: pointer;
}

.fa{
    display: block;
    font-size: 23px;
}
    .delete,.complete{
        padding: 0;
        width: 5vw;
       background-color: rgb(196, 74, 66);
        margin-right: 3px;
        margin-top: 0px; 
    box-shadow: 0px;
    padding: 6px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: white;
  
}

.complete{
background-color: rgb(5, 156, 149);
}

@media only screen and (max-width:670px){
    .delete,.complete{
        width: 23vw;
    }
  }
    