footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
    top: 96%;
}

@media only screen and (min-width:1280px){
    footer{
        top: 91.9%;
        bottom: -1%;
    }
}
@media only screen and (max-width:668px){
    footer{
        display: none;
    }
}



@media only screen and (min-height:360px)and(max-width:640px ){
    footer{
        display: none;
    }
}