.primary{
  background-color: rgb(9, 143, 132) !important;
  color: white;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App{
  min-height: 100vh;
 height: 100%;
 width: 100%;
}

#light-theme{
  background-color: white;
  color: #000000;
}


#dark-theme{
  background-color: #000000;
  color: #f8f8f8;
}

