@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.nav-links{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.menu-bar{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    display: none;
    transition: all 0.54s ease;
}

.menu-bar span{
    width: 35px;
    height: 2px;
    margin: 5px;
    background: white;
    transition: all 0.54s ease;
}



p{
    color: white;
}

a{
    text-decoration: none;
}
/* .fa-plus-square,.fa-tasks,.fa-cog{
    display: none;
    font-size: 22px;
    color: white;
} */

/* .fa:hover{
color: rgb(206, 204, 204);
} */


@media only screen and (max-width:670px){
    nav{
        z-index: 999;
    }

   
   
 .nav-links{
     position: absolute;
     background-color: rgba(9, 143, 132, 0.712);
     width: 100%;
     /* z-index: 999; */
     position: fixed;
     flex-direction: column;
     transform: translateX(100%);
     transition: 0.7s ease-in-out;
     height: 100%;
    top: 2%;
 }
   .menu-bar{
       display: flex;
   }

    /* .fa-plus-square,.fa-tasks,.fa-cog{
        display: inline-block;
    } */
  }

  
  


  .nav-active{
    transform: translateX(0%);
    transition: 0.7s ease-in-out;
}


.toggle .line1{
    transform: rotate(-45deg)translate(-5px,6px);
  transition: all 0.54s ease;
    }
    .toggle .line2{
    opacity: 0;
  transition: all 0.54s ease;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
      transition: all 0.54s ease;


    }